<%= @utilisateur.nom %>,<%= @utilisateur.email%>
<% if @utilisateur.article.any? %>
      <h3>Articles (<%= @utilisateur.article.count %>)</h3>
      <ol class="articles">
        <%= render @articles %>
      </ol>
    <% end %>