<div class="container">
<div class="jumbotron">
  <h1>Le Blog!</h1>
  <p>Hello</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>

  <%= link_to"S'inscrire", inscription_path,class:"btn btn-lg btn-primary" %>
</div>
</div>